* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(93, 90, 90);
  background: whitesmoke; 
  min-height: 100vh; 
}

main {
  width: 800px;
  margin: 30px auto;
}

hr, p {
  margin-bottom: 10px;
}

a.enlace {
  text-decoration: none;
  color: black;
  background-color: rgb(219, 219, 219);
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  display: inline-block;
  text-align: right;
}

a.enlace:hover {
  color: white;
  background-color: rgb(139, 132, 0);
  box-shadow: 1px 1px 2px gray;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: black;
  color: white;
}

nav, footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f8ff;;
  color: darkblue;
  padding: 5px 10px;
}

nav div {
  display: flex;
  gap: 20px;
}

section {
  padding: 20px;
}

section.not-found img {
  aspect-ratio: 1;
  width: 30vw;
  display: block;
  margin: 0 auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input, button {
  margin: 5px 0;
  padding: 8px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


@media (width <= 800px)  {
  main {
    width: 100%;
    margin: 20px 0;
  }
}